<html>
    <head>
        <title>Yeli's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>

<html>
    <head>
        <title>yeli's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">actualizate</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>tengo sueno y hambre</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>tengo sueno alguien con una cama plis</p>
        </div>
    </body>
</html>